body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 10rem;
}
